{% extends "base.html" %}

{% block header %}Pumpkin Voter{% endblock %}

{% block main %}


    <div class="uk-width-1-1">
        <h2>Current Contests</h2>
    </div>
    <div class="uk-overflow-auto">
        <table id="contest-table" class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th class="no-sort" {% block table_head_column1_styles %}style="width: 45px;"{% endblock %}>
                    &nbsp;
                </th>
                {% for field in stub.AdminListFields() %}
                {% if field.1 != "no-form" %}
                <th class="reorderable" data-name="{{ field.0 }}" data-filter="{{ field.2 }}">{{ stub.GorpTitle(field.0) }}&nbsp;

                </th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>

        {% for model in models %}
        <tr>
            <td>
                <a href="/voter/contest/vote/{{ model.Contest.Id }}"><i class="fa fa-check-square-o" title="Vote"></i></a>
                <a href="/voter/contest/results/{{ model.Contest.Id }}"><i class="fa fa-bar-chart" title="Results"></i></a>
            </td>
        {% for field in model.AdminListFields() %}
        <td>
            {% trim %}
            {{ model.ByFieldForList(field.0) }}
            {% endtrim %}
        </td>
        {% endfor %}
        </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}

{% block body_js %}
<script type="text/javascript">

    $(document).ready(function() {
        $('#contest-table').DataTable();
    } );
</script>
{% endblock %}
